@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@600&display=swap');

html,body {
    height: 100%;
}
h1 {
    font-family: 'Bitter', serif;
    color: white;
    font-size: 50px;
    text-align: center;
}
p {
    font-family: 'Bitter', serif;
    color: white;
    text-align: center;
    float: bottom;
}
p.tiny {
    font-family: 'Bitter', serif;
    color: white;
    font-size: 12px;
    text-align: center;
    float: bottom;
}
body {
    background: linear-gradient(45deg, rgb(0, 14, 55), rgb(2, 0, 136));
    background-repeat: no-repeat;
    height: 100%;
}

div {
    margin-top: auto;
    display: block;
}
img {
    width: 20%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

input {
    -webkit-appearance: none;
    margin-left: auto;
    margin-right: auto;
    display: block;
    min-width: 250px;
    background: #dad9d9;
    font-size: 170%;
    font-family: 'Share Tech Mono', monospace;
    color: black;
    box-shadow: inset -0.05em -0.05em black
}