/* CSS for System64.dev v2, by IDeletedSystem64. Under MIT License (7.31.23) */
@font-face { font-family: 'Share Tech'; src: url(../fonts/Share-Tech/ShareTech-Regular.ttf) format('woff2'); }
@font-face { font-family: 'Share Tech Mono'; src: url(../fonts/Share-Tech/ShareTechMono-Regular.ttf) format('woff2'); }
/* Get those fonts */

/* 
CSS rule items are seperated depending on what they do around here,
For example: Text/font related rules are grouped together
while the height/width is in its own group, with white space 
seperating the groups; They are also seperated with comments.
*/

/* Input / Buttons */

input {
    -webkit-appearance: none;
    appearance: none;

    background: #c3c3c3;
    box-shadow: inset -1px -1px #0a0a0a,inset 1px 1px #fff,inset -2px -2px grey,inset 2px 2px #dfdfdf;

    min-width: 200px; 
    min-height: 32px;
    
    font-family: 'Share Tech Mono', 'monospace';
    font-size: 13pt;
    font-weight: bold;
}

input:active {
    background: #b5b5b5;
    box-shadow: inset 0em 0em;
}

/* Inputs for Taskbar */

input.start {
    /* Yes, the home button is called the "Start" button inside, sue us, Microsoft! */
    min-height: 29px;
    min-width: 130px;
    max-width: 230px;

    padding-left: 25px;
    
    background: url(/img/taskbar/blueberry_pt.png) no-repeat, left;
    background-position: 3px;
}


input.taskbar{
    min-height: 29px;
    min-width: 170px;
    max-width: 230px;
}