/* CSS for System64.dev v2 Error Pages, Under MIT License. (6.6.23) */

/* decoration */
body {
    background-image: url("/img/bg.jpg");
    background-repeat: no-repeat;
}

/* positioning and sizing */

.container { /* not docker or kubernetes, sadly. */
    display: flex;
    flex-direction: column;
}

div {
    margin: auto;
    align-items: center;
}

img {
    width: 20%;
    height: auto;
}

/* fonts */

@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@600&display=swap'); /* Bitter */ 
@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap'); /* Share Tech Mono */

h1 {
    font-family: 'Bitter', serif;
    color: white;
    font-size: 50px;
    text-align: center;
}
p {
    font-family: 'Bitter', serif;
    color: white;
    text-align: center;
}
p.tiny {
    font-family: 'Bitter', serif;
    font-size: 12px;
    color: white;
    text-align: center;
}
a {
    color: white;
    font-family: 'Bitter', serif;
}
