/* CSS for System64.dev v2 Error Pages, Under MIT License. (8.11.23) */

/* decoration */
body {
    background-image: url("/img/bg_avif.avif");
}

/* positioning and sizing */

.container { /* not docker or kubernetes, sadly. */
    display: flex;
    flex-direction: column;
}

div {
    margin: auto;
    align-items: center;

}

img {
    width: 20%;
    height: auto;
}

/* fonts */

@font-face { font-family: 'Share Tech'; src: url(../fonts/Share-Tech/ShareTech-Regular.ttf) format('woff2'); }
@font-face { font-family: 'Share Tech Mono'; src: url(../fonts/Share-Tech/ShareTechMono-Regular.ttf) format('woff2'); }
@font-face { font-family: 'Bitter'; src: url(../fonts/Bitter/Bitter-VariableFont_wght.ttf) format('woff2'); }

h1 {
    font-family: 'Bitter', serif;
    color: white;
    font-size: 50px;
    text-align: center;
}
p {
    font-family: 'Bitter', serif;
    color: white;
    text-align: center;
}
p.tiny {
    font-size: 12px;
    margin-top: -5px;
}
a {
    color: white;
    font-family: 'Bitter', serif;
}

/* Mobile :( */

@media (max-width: 64em) {
    h1 {
        font-size: 64pt;
    }
    p {
        font-size: 32pt;
    }
    p.tiny {
        font-size: 18pt;
    }
}
